<app-loader [id]="'global'"></app-loader>
<div class="actions">
  <button (click)="showLoader('first')">Show first loader</button>
  <button (click)="showLoader('second')">Show second loader</button>
  <button (click)="showLoader()">Show global loader</button>
  <div class="closed">
    <button (click)="hideLoader()">Hide loader</button>
  </div>
</div>

<div class="loaders">
  <div class="first">
    <app-loader [id]="'first'"></app-loader>
    <h1>First container</h1>
  </div>
  <div class="second">
    <app-loader [id]="'second'"></app-loader>
    <h1>Second container</h1>
  </div>
</div>
